{% extends 'forum-base.html' %}
{% block content %}
{% if post_detail.color == 'green' %}
{% include 'videobg.html' %}

{% load avatar_tags %}
{% endif %}
<style>
    .forum {
        border-bottom: 4px solid #b60000;
        margin-bottom: -4px;
    }

    .forum:hover {
        background: #8c1c1c !important;
        border-bottom: 4px solid #b60000;
        margin-bottom: -4px;
    }
</style>

{% load static %}
<style>
    body {
        background-repeat: no-repeat;
        background-size: cover;
        background-color: black;
        background-position-x: center;
    }
</style>
{% if post_detail.color == 'red' %}
<style>
    body {
        background-image: url(/static/forum/images/siege.jpg);
    }
</style>
{% elif post_detail.color == 'blue' %}
<style>
    body {
        background-image: url(/static/forum/images/gta.jpg);
    }
</style>
{% elif post_detail.color == 'orange' %}
<style>
    body {
        background-image: url(/static/forum/images/ot.jpg);
    }
</style>
{% elif post_detail.color == 'black' %}
<style>
    body {
        background-image: url(/static/forum/images/black.jpg);
    }
</style>
{% endif %}
<div id="main">


    <h1 style="text-align: center;">{{ post_detail.title }}</h1>

    <table class="table no-transparency">
        <tr class="first-head">


            <th colspan="4">
                <div id="details-avatar-wrapper">
                    <div id="details-avatar">{% avatar post_detail.post_author.username 50 %}</div>
                    <div id="roles-details-page">
                        {% if post_detail.post_author.groups.all %}
                        {% for group in post_detail.post_author.groups.all %}
                        {% if group.name == 'Staff' %}
                        <a href="/forum/user/{{post_detail.post_author.id}}"
                            class="home-link-authors post-detail-author">{{ post_detail.post_author.username }}</a><span
                            class="staff">{{ group }}</span>
                        {% elif group.name == 'Admin' %}
                        <a href="/forum/user/{{post_detail.post_author.id}}"
                            class="home-link-authors post-detail-author">{{ post_detail.post_author.username }}</a><span
                            class="admin">{{ group }}</span>
                        {% elif group.name == 'Crook'  %}
                        <a href="/forum/user/{{post_detail.post_author.id}}"
                            class="home-link-authors post-detail-author">{{ post_detail.post_author.username }}</a><span
                            class="user">{{ group }}</span>
                        {% endif %}
                        {% endfor %}
                        {% else %}
                        <a href="/forum/user/{{post_detail.post_author.id}}"
                            class="home-link-authors post-detail-author">{{ post_detail.post_author.username }}</a><span
                            class="scrub">{{ group }}</span>
                        {% endif %}

                    </div>

                </div>
            </th>





        </tr>

        <tr>
            <td class="cc">
                {% if request.user.id == post_detail.post_author.id or request.user.is_staff %}
                <div class="post_controls pc-2">
                    <div id="slideToggle" class="main_divs">
                        <button class="slideDown"></button>
                        <div class="slideDownHidden">


                            {% if request.user.id == post_detail.post_author.id  or request.user.is_staff %}<a
                                href="/forum/edit/{{ post_detail.id }}" class="btn-1">Edit</a>
                            <a href="/forum/delete/{{ post_detail.id }}" class="btn-1 s-delete">Delete</a>{% endif %}

                            {% if  request.user.is_staff %}
                            {% if  request.user in post_detail.stickied.all %}
                            <a href="/forum/unstickied/{{ post_detail.id }}" class="btn-1">Unsticky</a>
                            {% else %}
                            <a href="/forum/stickied/{{ post_detail.id }}" class="btn-1 green">Sticky</a>
                            {% endif %}
                            {% endif %}





                        </div>
                    </div>
                </div>
                {% endif %}
            </td>




            <td class="ellipsis titles-margin lt-bg"><span class="title-link"><a
                        href="/forum/details/{{ post_detail.id }}"
                        class="title-link">{{ post_detail.title }}</a></span><span class="created_at">Added on
                    {{ post_detail.created_at }}</span>
            </td>

            <td class="center small"><span class="likes">{{ post_detail.comments.count }}</span> <span
                    class="sub_title">Comments</span> </td>
            <td class="center small"><span class="likes">{{ post_detail.liked_members.count }}</span> <span
                    class="sub_title">Likes</span></td>



        </tr>

    </table>
    <div id="review-content" class="details-content">
        <br>
        {{ post_detail.body|safe }}
    </div>
    <div id="joined-users">
        {% if post_detail.liked_members.count > 0 %}
        <h3>{{ post_detail.title }} is liked by :<br></h3>
        {% else %}
        <br><br>
        {% endif %}
        {% for m in post_detail.liked_members.all %}
        <p><a href="/forum/user/{{m.id}}" class="profile">{{m.username}}</a></p>
        {% endfor %}

    </div>


    <table class="profile-comments-table details-comments">

        <tr>
            <th> </th>



        </tr>
        {% for c in comments %}
        {% if post_detail.id == c.post_id %}
        <tr>
            <td>
                <div class="by">
                    <a href="/forum/user/{{c.comment_author.id}}">
                        <div id="comments-avatar">{% avatar c.comment_author.username 26 %}
                        </div>
                    </a><a href="/forum/user/{{c.comment_author.id}}"
                        class="profile-link-comments">{{ c.comment_author.username }}</a>
                    |
                    <span class="dt">{{ c.created_at }}</span>
                </div>
                <div id="text">{{ c.comment| safe }}
                </div><br>

                <div id="comment-control">{% if request.user.id == c.comment_author.id or request.user.is_staff %}
                    <a href="/forum/delete_profile_comment/{{ c.id }}/{{ post_detail.id }}"
                        class="btn-1 s-delete">Delete</a>{% endif %}

                </div>

            </td>



        </tr>


        {% endif %}
        {% endfor %}
        <td>
            {% if request.user.groups.all %}
            <div id="comments">
                <div class="comment-box">
                    <h3>Comment on {{ post_detail.title }}:</h1>


                        <form action="/forum/add_profile_comment/{{ post_detail.id }}/{{ post_detail.post_author.id }}"
                            method="POST">
                            {% csrf_token %}
                            <textarea name="comment"></textarea>
                            <br>
                            <input type="submit" value="Add Comment" class="btn-1 green">

                        </form>
                </div>
            </div>
            {% else %}
            Only approved memebers can post comments.
            {% endif %}
        </td>
    </table>






</div>
<script src="{% static '/js/tinymce.js' %}"></script>
<script>
    tinymce.init({
        selector: 'textarea',
        resize: 'both',
        menubar: 'none',
        statusbar: true,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste',
            'emoticons',
            'autoresize',
            'autolink',
            'autosave',
            'media'
        ],
        default_link_target: '_blank',
        autosave_ask_before_unload: false,
        mobile: {
            theme: 'silver'
        },
        toolbar: 'restoredraft | bold italic | link image | media | emoticons'
        // toolbar: "restoredraft | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | media | emoticons"
    });
</script>
{% endblock %}