{% extends 'forum-base.html' %}
{% block content %}
{% include 'videobg.html' %}
{% load static %}
<style>
    .forum {
        background-color: #ad1212 !important;
        color: white !important;
        border: 1px solid #ad1212 !important;
    }

    .forum:hover {
        background-color: #8c1c1c !important;

    }
</style>


<div id="main" class="l-box">
    <h1 style="text-align: center;" class="new-edit-h1">Editing : {{post_detail_edit.title }}</h1>


    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}


    <form action="/forum/update/{{post_detail_edit.id}}" method="POST">

        {% csrf_token %}
        <label>Title</label>
        <br>
        <input type="text" name="title" value="{{post_detail_edit.title}}">
        <br>
        <label>Category</label>
        <br>
        <select name="color" id="color">
            <option value="green">General Discussion</option>
            <option value="blue">GTA V</option>
            <option value="red">Rainbow Six Siege</option>
            <option value="orange">Off Topic</option>
            <option value="black">Escape From Tarkov</option>
        </select>
        <label>Post</label>
        <br>
        <textarea name="body">{{post_detail_edit.body}}</textarea>
        <br>

        <input type="submit" value="Update" class="btn-1 forum"></input><a href="/forum" method="POST"
            class="btn-1">Cancel</a>

    </form>


</div>
<script src="{% static '/js/tinymce.js' %}"></script>
<script>
    tinymce.init({
        selector: 'textarea',
        resize: 'both',
        menubar: 'none',
        statusbar: true,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste',
            'emoticons',
            'autoresize',
            'autolink',
            'autosave',
            'media'
        ],
        default_link_target: '_blank',
        autosave_ask_before_unload: false,
        mobile: {
            theme: 'silver'
        },
        toolbar: 'restoredraft | bold italic | link image | media | emoticons'
        // toolbar: "restoredraft | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | media | emoticons"
    });
</script>
{% endblock %}